[core]
	excludesfile = /Users/lukas/.gitignore_global
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = true
[alias]
	s = status -s
	lg = log --decorate --graph --show-signature
	ds = diff --staged
	dl = diff HEAD^1
	badass = push --no-verify --force
[gpg]
	program = /usr/local/bin/gpg
[commit]
	gpgSign = true
[tag]
	forceSignAnnotated = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
